# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Additions for Flutter/Dart development

# General Flutter/Dart build outputs
/build/
**/build/
**/.dart_tool/
/.packages
/pubspec.lock

# iOS specific for Flutter
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/.symlinks/
**/ios/.generated/
**/ios/Flutter/FlutterPluginRegistrant/
**/ios/Pods/

# Android specific for Flutter
**/android/.gradle
**/android/app/.cxx/
**/android/keystore.properties
**/android/local.properties
/android/app/build/

# Avoid tracking MacOS files
**/.DS_Store

# IDE specific files
**/.idea/
*.iml

# Temp files
**/*.swp
**/*~
**/._*
